### 1.List
### -1D
### -heterogenous
### -indexing and slicing is possible
### -mutable

In [2]:
empty_card=[]
empty_card

[]

In [3]:
type(empty_card)

list

In [15]:
item_to_list=["apple","orange","banana","mango",12,3,4.0]
item_to_list

['apple', 'orange', 'banana', 'mango', 12, 3, 4.0]

In [6]:
type(item_to_list)

list

In [57]:
item_to_list=["apple","orange","banana","mango",12,3,4.0]
item_to_list

['apple', 'orange', 'banana', 'mango', 12, 3, 4.0]

In [58]:
item_to_list=["apple","orange","banana","mango",12,3,4.0,"apple"]
item_to_list

['apple', 'orange', 'banana', 'mango', 12, 3, 4.0, 'apple']

In [59]:
item_to_list[0]

'apple'

In [60]:
item_to_list[0:4]

['apple', 'orange', 'banana', 'mango']

In [61]:
item_to_list[-4:-1]

[12, 3, 4.0]

In [62]:
len(item_to_list)

8

In [64]:
item_to_list[1]="watermelon"
item_to_list

['apple', 'watermelon', 'banana', 'mango', 12, 3, 4.0, 'apple']

In [65]:
item_to_list.append("orange")
item_to_list

['apple', 'watermelon', 'banana', 'mango', 12, 3, 4.0, 'apple', 'orange']

In [66]:
item_to_list.copy()

['apple', 'watermelon', 'banana', 'mango', 12, 3, 4.0, 'apple', 'orange']

In [67]:
item_to_list.count("apple")

2

In [68]:
item_to_list.index("apple")

0

In [71]:
item_to_list.pop(-1)

'orange'

In [73]:
item_to_list.remove("apple")
item_to_list

['Grapes', 'watermelon', 'banana', 'mango', 12, 3, 4.0]

### 2.Set
#### -1D
#### -heterogenous
#### -it won't allow duplicate value
#### -indexing and slicing is not possible
#### -mutable

In [77]:
empty_card_2 = set()
empty_card_2

set()

In [78]:
type(empty_card_2)

set

In [79]:
item_to_set={"apple","orange","banana","mango",12,3,4.0}
item_to_set

{12, 3, 4.0, 'apple', 'banana', 'mango', 'orange'}

In [80]:
type(item_to_set)

set

In [86]:
item_to_set={"apple","orange","banana","mango",12,3,4.0,"apple"}
item_to_set

{12, 3, 4.0, 'apple', 'banana', 'mango', 'orange'}

In [87]:
item_to_set[1]

TypeError: 'set' object is not subscriptable

In [89]:
item_to_set

{12, 3, 4.0, 'apple', 'banana', 'mango', 'orange'}

In [90]:
item_to_set[1] = "watermelon"

TypeError: 'set' object does not support item assignment

In [91]:
item_to_set.add("watermelon")

In [92]:
item_to_set

{12, 3, 4.0, 'apple', 'banana', 'mango', 'orange', 'watermelon'}

In [93]:
item_to_set.discard("apple")

In [94]:
item_to_set

{12, 3, 4.0, 'banana', 'mango', 'orange', 'watermelon'}

In [95]:
item_to_set.union("apple")

{12, 3, 4.0, 'a', 'banana', 'e', 'l', 'mango', 'orange', 'p', 'watermelon'}

In [97]:
item_to_set.update("melon")
item_to_set

{12,
 3,
 4.0,
 'banana',
 'e',
 'l',
 'm',
 'mango',
 'n',
 'o',
 'orange',
 'watermelon'}

### Tuple
#### -1D
#### -Heterogenous
#### -duplicate values is allowed
#### -immutable
#### -indexing and slicing is also possible

In [99]:
empty_card_3=()
empty_card_3

()

In [100]:
type(empty_card_3)

tuple

In [101]:
item_to_tuple=("apple","orange","banana","mango",12,3,4.5)
item_to_tuple

('apple', 'orange', 'banana', 'mango', 12, 3, 4.5)

In [102]:
type(item_to_tuple)

tuple

In [103]:
item_to_tuple=("apple","orange","banana","mango",12,3,4.5,"apple")
item_to_tuple

('apple', 'orange', 'banana', 'mango', 12, 3, 4.5, 'apple')

In [104]:
item_to_tuple[1]

'orange'

In [106]:
item_to_tuple[-4:-2]

(12, 3)

In [107]:
item_to_tuple[1]="Water"

TypeError: 'tuple' object does not support item assignment

In [109]:
item_to_tuple.count("apple")

2

In [110]:
item_to_tuple.index("apple")

0

### 4.Dictionary

It is a key:value pair
#### -2D
#### -indexig and slicing is not possible
#### -heterogenous
#### -mutable
#### - Don't create duplicate a key,but you can create deplicate value

In [111]:
empty_card_4 ={}

In [112]:
empty_card_4

{}

In [113]:
type(empty_card_4)

dict

In [118]:
item_to_dict={"apple":2,"orange":5,"banana":3,"mango":4}
item_to_dict

{'apple': 2, 'orange': 5, 'banana': 3, 'mango': 4}

In [119]:
type(item_to_dict)

dict

In [124]:
item_to_dict={"apple":2,"orange":5,"banana":3,"mango":4,"apple":5}
item_to_dict

{'apple': 5, 'orange': 5, 'banana': 3, 'mango': 4}

In [121]:
item_to_dict[1]

KeyError: 1

In [122]:
item_to_dict.clear()

In [125]:
item_to_dict

{'apple': 5, 'orange': 5, 'banana': 3, 'mango': 4}

In [126]:
item_to_dict.keys()

dict_keys(['apple', 'orange', 'banana', 'mango'])

In [127]:
item_to_dict.values()

dict_values([5, 5, 3, 4])

In [128]:
item_to_dict={"apple":2,"orange":5,"banana":3,"mango":4,"apple":5}
item_to_dict

{'apple': 5, 'orange': 5, 'banana': 3, 'mango': 4}

In [129]:
import pandas as pd

In [130]:
pd.DataFrame(data=item_to_dict)

ValueError: If using all scalar values, you must pass an index

In [146]:
math_student_mark={"Name":["Priya","Mohana","Mohanapriya","Soundharya"],
                   "Math":[67,88,99,100],"Science":[100,78,99,98]}
math_student_mark

{'Name': ['Priya', 'Mohana', 'Mohanapriya', 'Soundharya'],
 'Math': [67, 88, 99, 100],
 'Science': [100, 78, 99, 98]}

In [140]:
import pandas as pd

In [147]:
pd.DataFrame(data=math_student_mark)

          Name  Math  Science
0        Priya    67      100
1       Mohana    88       78
2  Mohanapriya    99       99
3   Soundharya   100       98

In [142]:
math_student_mark={"Priya","Mohana","Mohanapriya","Soundharya"}
                
math_student_mark

{'Mohana', 'Mohanapriya', 'Priya', 'Soundharya'}

In [143]:
pd.DataFrame(data=math_student_mark)

             0
0       Mohana
1        Priya
2   Soundharya
3  Mohanapriya

In [144]:
math_student_mark=("Priya","Mohana","Mohanapriya","Soundharya")
                
math_student_mark

('Priya', 'Mohana', 'Mohanapriya', 'Soundharya')

In [145]:
pd.DataFrame(data=math_student_mark)

             0
0        Priya
1       Mohana
2  Mohanapriya
3   Soundharya